/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 0.9em;
    font-family:"Open Sans" ;
    line-height: 1.4;
}

input, textarea { 
    width:1em; 
    border-radius:1px; 
    border: solid 1px #ccc; 
    padding:0.2em; 
    background-color: #f5f5f5; 
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2); 
}

input[type='number'] {
    width:5em; 
}

input[type='text'] {
    width:10em; 
}

input[type='float'] {
    width:3em; 
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#canvas-fractal { 
    display:block; 
    background-color:#144;
    position:fixed;
    top:0px;
    left:0px;
    z-index:-10;
}

#canvas-color-picker {
    display: none;
    position:absolute;
    z-index: 15;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    background-color: #fff;
}

#canvas-selection { 
    display:block; 
    position:fixed;
    top:0px;
    left:0px;
    z-index:-9;
}

#canvas-gradient {
/*     display: inline; */
/*     position:relative; */
    background-color: #fff;
    min-width: 100px;
    max-width: 200px;
    min-height: 30px;
    border: 1px solid black;
}

.controler{
    border: 0px;
    width: 2.5em;
    height: 2.5em;
}

.controls-panel{
    position:fixed;
    top: 1em;
    right: 1em;
    z-index:10;    
}

#control-panel-button{
    background:url('../src/settings.ico') no-repeat;
    background-size: 100%;
}

#logs-button{
    background:url('../src/primo/logs.ico') no-repeat;
    background-size: 100%;
}

.controls-zoom-in-out{
    position:fixed;
    top: 1em;
    left: 1em;
}

#control-zoomin{
    background:url('../src/primo/zoomin.ico') no-repeat;
    background-size: 100%;
    display:block;
}

#control-zoomout{
    background:url('../src/primo/zoomout.ico') no-repeat;
    background-size: 100%;
    display:block;
}


#logs-panel {
/*     z-index: 4; */
}

.panel {
/*     display: none; */
    position:fixed;
    
    top: 0em;
    right: 0em;
/*     max-width: 20%; */
    min-width: 280px;
/*     height: 100%; */
    
/*     background-color: rgba(0, 0, 0, 0.8); */
/*     opacity:0.8; */
    
}
.panel strong {
    color: #4d4e53;
    font-size: 1.1em;
    
}

.control-panel-section
{
    margin: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: #777;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #f4f7f8;
    color: #444;
}

.control-panel-section strong{
    margin-left: 0.5em;
}

.control-panel-section p{
    margin: 0.5em;
    margin-left: 1.5em;
}

.control-panel-section span{
    margin-right: 1em;
}

#julia-border-left{
    float: left;
}

#julia-border-right{
    float: right;
}

#julia-border-bottom {
    clear: both;
}

#julia-coordinates {
/*     background-image:url('../src/coordinates.ico'); */
/*     background-size: 100%; */
/*     background-position: center; */
    display:block;
}

#julia-view-zoom{
    color: #111;
}

#logs-textarea{
    min-height: 100px;
    min-width: 200px;
    overflow: auto;
    
}


#button-refresh:hover {
    background: #f2f9fe;
    background: -moz-linear-gradient(-45deg,  #f2f9fe 0%, #d6f0fd 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f2f9fe), color-stop(100%,#d6f0fd));
    background: -webkit-linear-gradient(-45deg,  #f2f9fe 0%,#d6f0fd 100%);
    background: -o-linear-gradient(-45deg,  #f2f9fe 0%,#d6f0fd 100%);
    background: -ms-linear-gradient(-45deg,  #f2f9fe 0%,#d6f0fd 100%);
    background: linear-gradient(135deg,  #f2f9fe 0%,#d6f0fd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=1 );
}

#julia-border-top {
    margin: auto;
    text-align:center;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.clear-float {
    clear: both;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
